<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Todo List</title>
</head> -->
<%- include("header") -%>
<body>
    <div class="heading">
        <h1><%= heading %></h1>
    </div>

    <div class="todo-items">
        <%for(let i = 0; i < list.length ; i++){%>
            <form action="/delete" method="post">
                <div class="todo-item">
                    <input  type="checkbox" onchange="this.form.submit()" name="checkBox" value="<%= list[i]%>">
                    <input type="hidden" name="listName" value="<%= heading %>">
                    <p><%= list[i]%></p>
                </div>
            </form>
            
        <%}%>
        <form class="todo-item" action="/" method="post">
            <input type="text" name="toDo" placeholder="Add new task" autocomplete="off">
            <button type="submit" name="button" value='<%= heading %>'>+</button>
        </form>
    </div>

<%- include("footer") -%>
<!-- </body>
<footer>
    Copyright 2022 
</footer>
</html> -->